.info-box h4 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #434242;
}

.info-box span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box span h3 {
    font-size: 14px;
    font-weight: 600;
    color: sienna;
}