.table {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    /* padding: 1rem 0; */
}

.table h2 {
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(67, 66, 66);
}

.table p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #111;
}

.table p span {
    color: goldenrod;
    font-weight: 600;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table table thead {
    border-top: 2px solid #3246df;
    border-bottom: 2px solid #3246df;

}

.table table thead tr th{
    padding: 5px 7px 5px 7px;
    font-size: 13px;
    border-right: 1px solid #ddd;
    font-weight: 600;
    text-align: start;
}


.table table tbody tr td {
    padding: 10px;
    font-size: 14px;
    color: #111;
    /* vertical-align: top; */
    cursor: pointer;

    text-align: left;
    border-bottom: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
}

.table table tbody tr td img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.table table tbody tr td .actionss {
    color: rgb(248, 63, 63);
    font-size: 16px;
    cursor: pointer;
}

.table table tbody tr td .buttons {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    /* gap: 10px; */
}

.table table tbody tr td .buttons button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.table table tbody tr td .buttons span {
    font-size: 12px;
    width: 25px;
    text-align: center;
    font-weight: 600;
}

.pending {
    color: orangered;
    font-weight: 500;
}

.delivered {
color: green;
font-weight: 500;
}